.content-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.step {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    color: #007BFF; /* Adjust based on your theme */
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.step-action {
    display: inline-block;
    background-color: #007BFF; /* Adjust based on your theme */
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.step-action:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745; /* Success color, adjust as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838; /* Darker shade for hover effect */
}
